@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Simple Web UI</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <h1>Welcome to My Simple .NET Web UI</h1>
        <p>This is a basic UI page served with Razor Pages.</p>
    </div>
</body>
</html>
